$breakpoints: (
        maxes: (1:599, 2:767, 3:977, 4:1139),
        default: 4,
        widths: 10 20 30 40 50 60 70 80 90 100 25 75 33 66
);

$numBreakpoints: length(map-get($breakpoints, maxes)) + 1;

@mixin mediaQuery($bpNumber, $isMin, $bpOnly){
    $minWidth: 0;
    @if $bpNumber != 1 {
        $previousBp: $bpNumber - 1;
        $minWidth: map-get(map-get($breakpoints, maxes), $previousBp)+1;
    }

    $maxWidth: map-get(map-get($breakpoints, maxes),$bpNumber);

    @if $bpOnly {
        @if $isMin {
            @media all and (min-width: #{$minWidth}px) {
                @content;
            }
        } @else {
            @media all and (min-width: #{$minWidth}px) and (max-width: #{$maxWidth}px) {
                @content;
            }
        }
    } @else {
        @if $isMin {
            @media all and (min-width: #{$minWidth}px) {
                @content;
            }
        } @else {
            @media all and (max-width: #{$maxWidth}px) {
                @content;
            }
        }
    }
}

@mixin bpClasses($b, $bpOnly){
    @if $bpOnly {
        @each $width in map-get($breakpoints, widths) {
            .w#{$b}only-#{$width} { width: $width * 1%; }
            .indent#{$b}only-#{$width}  {   margin-left: $width * 1%;  }
        }
    } @else {
        @each $width in map-get($breakpoints, widths) {
            .w#{$b}-#{$width} { width: $width * 1%; }
            .indent#{$b}-#{$width}  {   margin-left: $width * 1%;  }
        }
    }
}

@for $b from $numBreakpoints through 1 {
    @if $b == map-get($breakpoints, default) {
        /* Default #{$b} - No media query */
        @each $width in map-get($breakpoints, widths) {
            .w-#{$width} { width: $width * 1%; }
            .indent-#{$width} { margin-left: $width * 1%; }
        }

        /* Breakpoint #{$b} */
        @include mediaQuery($b, false, false) {
            @include bpClasses($b, false);
        }
        @include mediaQuery($b, false, true) {
            @include bpClasses($b, true);
        }
    } @else if $b == $numBreakpoints {
        /* Breakpoint #{$b} - Largest breakpoint */
        @include mediaQuery($b, true, false) {
            @include bpClasses($b, false);
        }
    } @else {
        /* Breakpoint #{$b} */
        @include mediaQuery($b, false, false) {
            @include bpClasses($b, false);
        }
        @include mediaQuery($b, false, true) {
            @include bpClasses($b, true);
        }
    }
}

.pad {
    padding: 0 10px;
    box-sizing: border-box;
}

